
<%= simple_form_for(@municipe, data: { controller: 'masks' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-3 d-flex flex-column align-items-center">

        <% if @municipe.avatar.representable? %>
          <picture>
            <%= image_tag @municipe.avatar.variant(:thumb_80), class: 'img-fluid img-thumbnail' %>
          </picture>
        <% else %>
          <picture>
            <%= image_tag 'avatar.png', width: '80' %>
          </picture>
        <% end %>

        <%= f.file_field :avatar, class: 'form-control form-control-sm', id: 'formFileSm' %>
        <hr />

        <div class="d-flex flex-column align-items-start">
          <%= f.collection_radio_buttons :status, Municipe.statuses.to_a, :first, :last %>
        </div>
      </div>
      <div class="col-md-9">
        <%= f.input :name %>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :cpf, input_html: { 'data-masks-target': 'cpf' } %>
          </div>
          <div class="col-md-6">
            <%= f.input :cns, input_html: { 'data-masks-target': 'cns' } %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :email %>
          </div>
          <div class="col-md-6">
            <%= f.input :email_confirmation %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :birth_date, html5: true, input_html: { max: Date.today } %>
          </div>
          <div class="col-md-6">
            <%= f.input :phone, input_html: { 'data-masks-target': 'cellPhone' } %>
          </div>
        </div>

        <hr />
        <h5>Endereço</h5>
        <%= f.simple_fields_for :endereco do |endereco_form| %>

        <div class="row">
          <div class="col-md-3">
            <%= endereco_form.input :cep, input_html: { 'data-masks-target': 'cep' } %>
          </div>
          <div class="col-md-9">
            <%= endereco_form.input :logradouro %>
          </div>
        </div>
          <%= endereco_form.input :complemento %>
          <%= endereco_form.input :bairro %>

        <div class="row">
          <div class="col-md-6">
            <%= endereco_form.input :cidade %>
          </div>
          <div class="col-md-3">
            <%= endereco_form.input :uf %>
          </div>
          <div class="col-md-3">
            <%= endereco_form.input :ibge_code %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions d-flex justify-content-between mt-3">
    <%= link_to '<i class="bi bi-arrow-left"></i>'.html_safe, municipes_path, title: 'voltar', class: 'btn btn-outline-primary rounded-pill' %>
    <%= f.button :submit, class: 'btn btn-outline-primary rounded-pill' %>
  </div>
<% end %>
