<div class="row">
  <div class="col-md-3">
    <% if municipe.avatar.representable? %>
      <picture>
        <%= image_tag municipe.avatar, class: 'img-thumbnail' %>
      </picture>
    <% end %>
  </div>
  <div class="col-md-9" id="<%= dom_id municipe %>">
    <p>
      <strong>Name:</strong>
      <%= municipe.name %>
    </p>

    <p>
      <strong>Cpf:</strong>
      <%= municipe.cpf %>
    </p>

    <p>
      <strong>Cns:</strong>
      <%= municipe.cns %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= municipe.email %>
    </p>

    <p>
      <strong>Birth date:</strong>
      <%= municipe.birth_date %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= municipe.phone %>
    </p>

  </div>
</div>
