<div class="card shadow-sm">
  <div class="card-header bg-transparent border-0">
    Munícipes
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nome</th>
            <th scope="col">Documentos</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <% @municipes.each do |municipe| %>
          <tr>
            <td><%= image_tag municipe.avatar.variant(:thumb_40), class: 'img-fluid img-thumbnail' %></td>
            <td><%= municipe.name %></td>
            <td>
              <p class="m-0"><span class="badge bg-secondary">CPF:</span> <%= municipe.cpf %></p>
              <p class="m-0"><span class="badge bg-secondary">CNS:</span> <%= municipe.cns %></p>
            </td>
            <td><%= municipe.email %></td>
            <td><%= link_to "Editar", edit_municipe_path(municipe), title: 'Editar', class: 'btn btn-outline-primary btn-sm rounded-pill' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

